<div class="pokemon-card">
    <div class="pokemon-card__image">
        <img [src]="pokemon.image" 
        alt="Pokemon Image">
    </div>

    <div class="pokemon-card__number">
        Nº {{ leadingZero(pokemon.number) }}
    </div>
    <div class="pokemon-card__name">
        {{ pokemon.name }}
    </div>

    <!-- criado um For na div para atribuir o tipo na variável lá embaixo, type. E criado o class 
    para também atribuir esse tipo para a classe da div, em lowercase, para reconhecimento no Sass -->  
    <div class="pokemon-card__types">
        <div class="pokemon-card__type" *ngFor="let type of pokemon.types"
        [class]="'pokemon-card__type--' + type.toLowerCase()">
            {{ type }}
        </div>
    </div>
</div>
